html{
    
    border: solid;
    border-color: black;
}

.header {
    padding: 10px;
    text-align: center;
    background: #c4c5c5;
    color: white;
    font-size: 30px;
    border: solid;
    border-color: black;
  }

  .footer{

    padding: 10px;
    text-align: center;
    background: #c4c5c5;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: solid;
    border-color: black;
  }

  span {
      color: black;
      font-family: Arial, Helvetica, sans-serif;
      align-content: center;
  }

  #leftarrow{
      float left: 10px;
  }

  #rightarrow{
      float left: 30px;
  }