body{

    border: solid;
    border-color: black;
    left: 15%;

}

#header{

    text-align: center;
    background: #c4c5c5;
    color: rgb(0, 0, 0);
    font-size: 50px;
    border-bottom: solid;
    border-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.footer{
    
    text-align: center;
    background: #c4c5c5;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-top: solid;
    border-color: black;
}

#leftarrow{
    
    top: 5px;

}

#rightarrow{

    top: 5px;

}

#cancelbutton{

    top: 5px;

}

#home{

    top: 5px;

}

#title{

    top: 5px;
}

#searchfield{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;

}

#magglass{

    position: absolute;
    top: 20%;
    left: 5%;

}

h2{
    
    padding: 10px;

}

.alignment1{

    margin: 0px auto;

}

.div1{

    align-items: center;

}

#submit1{

    position: relative;
    left: -85px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
  }

  td, th {
    border: 2px solid #000000;
    text-align: left;
    padding: 10px;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }